body
{
    background-image: url(https://cuiet.codebrigade.in/images/Chitkara_University_pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
.header
{
    background-color: red;
    height: 10px;
    
}
.header img
{
    float: right;
    margin-right: 9px;
}
.login_section
{
    display: block;
    margin-top: 70px;
    margin-right: 170px;
    float: right;
    height: 600px;
    width: 270px;
    background-color: white;
    align-content: center;
}
.login_section .logo img
{
    margin-top: 20px;
    margin-left: 45px;
    height: 100px;
}
.login_section .login
{
    margin-top: 10px;
    margin-left: 20px;
}
.login_section .submit
{
    width: 83%;
    height: 40px;
    background-color: brown;
    font-size: 20px;
    color: white;
    border-color: brown;
}
.login_section .download
{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.login_section .last
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -10px;
}
.login_section .last img
{
    height: 25px;
}